@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>

        Proje Özeti ve Öz Eleştiri:
        Feature'lara göre indirim uygulanabilecek entity yapısı kuruldu.
        Login LogOut Register ı kapsayan Identity user yapısı kuruldu.
        Default kullanıcı ve roller uygulama koşmaya başladığında otomatik migrate eder.
        Urun ve bağlı diğer tablolar ilişkilendirildi.

        Projede identityUser ve entity'lerin farklı Context sınıfından kalıtım alması sebebiyle çift DbContext sınıfı var. Identity'ye ait olan Context ve entity sınıfılarını data katmanına almaya çalıştım fakat hata aldım. .Net3.1 de birden fazla context ile aynı şekilde migration yapmıştım. Bu yüzden Ui katmannda IdentityUser'a ait sınıflar mevcut.
        IdentityUser a rol yapısını ve yetkilendirme konusunda zaman kaybettim. 
        Ürün işlemlerine geçtiğimde bir feature'ın birden fazla FeatureDescription'ı olcağından multiple select yapmam gerekti. Fakat bootstrap 5.1.0 da kullandığım gerekli select picker dosylarının version uyumsuzluğundan problem yaşadım.
        Bu commit'i attığım durumu 24 verilen sürenin dolduğu halidir.
    </p>

</div>
