@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        Dummy kullanıcıları tanımlarken ;

        Normalde data katmanındaki entityde herhangi bir pacaket vs olmaması lazım. ama benden istenen çok katmanluı mimariye göre identity dsınıfından gelen entity ve db contexti benim bu data katmanına taşımam gerek. Ama bu şekilde yaınca migrationda hata aldım design time da oluşturulamıyor diye. Bu yüzden yapıya aykırı durumu tercih ettim. Ui katmanında user işlemleri mevcut. Eğer bu durum olmasaydı.Dummy data oluştururken kullandığım tek tek nesne oluşturma ve hash lenmiş haldeki şifre gibi durumu manuel vermeyecek oluşturduğum servids üzerinden daha identity yapısına uygun bir du7mmy datya girişi olucaktı. Önerilere ve tartışmaya açığım.

    </p>

</div>
