@model List<MinECommerce.Entity.Discount>
@{
    ViewData["Title"] = "Discounts";
    int i = 1;
}



<div class="container d-flex">
    <div class="col-2">
        <div class="list-group">

            <a asp-controller="Product" asp-action="GetFeatureDescriptions" type="button" class="list-group-item list-group-item-action ">Feature Description</a>
            <a asp-controller="Product" asp-action="GetFeatures" type="button" class="list-group-item list-group-item-action ">Feature</a>
            <a asp-controller="Product" asp-action="GetDiscount" type="button" class="list-group-item list-group-item-action active">Discount</a>
            <a asp-controller="Product" asp-action="GetProducts" type="button" class="list-group-item list-group-item-action" disabled>Product</a>
        </div>
        <a asp-controller="" asp-action="" type="button" class="btn btn-success">Add New</a>

    </div>
    <div class="col-10">
        <table id="datatablesSimple" class="display">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Rate</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>

                        <td>@i</td>
                        <td>@item.Rate</td>
                        <td>Delete</td>
                        <td>Update</td>
                    </tr>

                    i++;
                }
            <tbody>
        </table>
    </div>
</div>