
<div class="container">
    <div class="col-2">
        <div class="list-group">
           
            <a asp-controller="Product" asp-action="GetFeatureDescriptions" type="button" class="list-group-item list-group-item-action">Feature Description</a>
            <a asp-controller="Product" asp-action="GetFeatures" type="button" class="list-group-item list-group-item-action">Feature</a>
            <a asp-controller="Product" asp-action="GetDiscount" type="button" class="list-group-item list-group-item-action">Discount</a>
            <a asp-controller="Product" asp-action="GetProducts" type="button" class="list-group-item list-group-item-action" disabled>Product</a>
        </div>
    </div>
    <div class="col-10">

    </div>
</div>


